@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;

}
/* antd override */
input{
  border-radius :2px !important;
  border: 1px solid rgba(128,128,128,0.521) !important;
  height:40px !important;
}
input:focus{
  outline:none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}

label{
  font-size:16px !important;
  color:black;

}
.ant-form-item{
  margin:10px 0 !important;
}

/* 
common styling */
.spinner-parent{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:9999

}
.spinner-border{
  width:5rem;
  height:5rem;
  color:white !important;
}

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text{
  font-size:1rem;
}
.card{
  box-shadow: 0 0 2px gray;
  border-radius: 0 !important;
}

/* authentication pages */
.primary-button{
  background-color: #005555 !important;
  border-color: #005555 !important;
  height:40px !important;
  width:100% !important;
  color: white;
  font-size: 16px !important;
}
.anchor{
  color:black !important;
  text-decoration: underline;
  font-size: 16px !important;
}
.anchor:hover{
  text-decoration: underline !important;
}

.authentication{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #005555;
}
.authentication-form{
  width:400px;
}
.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  color: white !important;
  max-width: max-content !important;
  padding:7px 15px;
  margin-left: -40px;
  border-bottom-left-radius: 10px;

}
.img{
  height: 400px;
}